@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {}

*:not(article *) {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;

}

article {
  overflow-wrap: break-word;

  * {
    font-family: inherit;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-top: 0;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 16px;
  }
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: unset;
  transition: 0.2s;
}


:root {
  --primary-color: #22A6F2;
  --white-color: #fff;
  --text-color: #111;


  --text-color-2: #555;
  --error-color: rgb(168, 4, 4);

  --header-color: #333;
  --round-box: 10px;
  --gray-color-1: #EFEFEF;

  --box-shadow: 0px 0px 5px 1px rgb(192, 192, 192);
}

html {
  // font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  // font-size: 1.6rem;
}

.MuiFormLabel-root {
  // font-size: 1.6rem !important;
}

.MuiFormControl-root,
.MuiFormControl-root {
  width: 100% !important;
  margin: 0 !important;
}

// input {
//   width: 100%;
// }

.main {
  min-height: 65vh;
}

.title-primary {
  color: var(--primary-color);
  font-size: 30px;
  text-align: center;
  text-transform: capitalize;
  position: relative;

  // &::after {
  //   content: '';
  //   position: absolute;
  //   width: 20%;
  //   height: 5px;
  //   background-color: var(--primary-color);
  //   top: 100%;
  //   left: 0;
  //   border-radius: 5px;
  // }
}

//custom dots react slick

.slick-dots li button::before {
  // display: none !important;
  content: '';
  font-family: 'Courier New', Courier, monospace !important;
  background-color: var(--primary-color) !important;
  border-radius: 100% !important;
  width: 10px !important;
  height: 10px !important;
  transform-origin: right;
  transition: 0.2s;
}

.slick-dots li.slick-active button::before {
  transform: translateX(-5px);
  border-radius: 10px !important;
  width: 20px !important;
  background-color: var(--primary-color) !important;
}

.slick-arrow {
  display: none !important;
}

.error-message {
  color: var(--error-color);
}